/* Aquí puedes agregar estilos adicionales si es necesario */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-form {
    text-align: center;
    width: 400px;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #904242;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f9f9f9;
}
