/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1743e3;
    color: #fff;
    padding: 10px 0;
}

header ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li:last-child {
    margin-right: 0;
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

header a:hover {
    color: #ff9900;
}

/* Estilos para la sección de catálogo de productos */
.product-catalog {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.izquierda {
    flex-basis: calc(50% - 10px);
}

.derecha {
    flex-basis: calc(50% - 10px);
}

.product {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #1743e3(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.3s; /* Agregar una transición suave para el efecto */
}

.product:hover {
    transform: translateY(-10px); /* Mover ligeramente hacia arriba al pasar el cursor */
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product p {
    margin: 0;
}

.product .price {
    color: #1743e3;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilos para los detalles del producto */
.product .product-details {
    opacity: 0; /* Inicialmente ocultar los detalles */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: -170px; /* Posición encima de la imagen */
    left: 0;
    width: 100%;
    transition: opacity 0.3s, top 0.3s; /* Agregar transición suave */
    z-index: 1;
}

.product:hover .product-details {
    opacity: 1; /* Mostrar los detalles al pasar el cursor */
    top: 0; /* Posición encima de la imagen */
}

/* Estilos para el footer */
footer {
    background-color: #1743e3;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
